
- const bookList = [1,2,3,4,5,6,7,8,9,10,11,12,13];

.book-grid
    for item, index in bookList
        if (index < 12)
            .card.book-card(unique-id=`${item}`)
                img(src="book.jpeg").card-img-top.book-img
                .book-info
                    table.table
                        .title "Title asjdnf ajsnf oasodsanfas .table-responsive-sm itlc.table-responsive-smokTit "
                        tbody
                            tr.dep
                                th Course Code:
                                td.badge.badge-light "MTH220"


